* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e2f, #2a2a40);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

main{
    background: linear-gradient(135deg, #111118, #121224);
    border-radius: 10px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.operations{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    margin-bottom: 10px;
}

.radio-container {
  margin: 0 auto;
  max-width: 300px;
  color: white;
  display: flex;
  align-items: center;
  height: auto;
  gap: 15px;
}

.radio-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.radio-button:hover {
  transform: translateY(-2px);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-checkmark {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 2px solid #949494;
  border-radius: 50%;
}

.radio-checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #949494;
  transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
  transform: translate(-50%, -50%) scale(1);
}

.radio-label {
  font-size: 16px;
  font-weight: 600;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input[type="number"]{
    width: 90%;      
    font-size: 16px;  
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #151515;
  color: #eee;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

button:hover {
  transform: translateY(-3px);
}

button-span {
  color: #aaa;
}

.result{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#p-calculate {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#p-timer {
  font-size: 20px;
  margin-top: 20px;
  color: #ffd54f;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
    body, html { overflow-x:hidden; }
    h1{
        font-size: 1.8rem;
    }
    
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }